<main>

	<h1>Контент сайта!!!</h1>

	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat qui magni debitis officia dolor suscipit libero non ipsa repudiandae mollitia dolore laborum vitae, aliquam ullam facilis eos, ex pariatur dolorum?</p>
<br>
	<p>Пример использования data с карточкой товара</p>
<!-- Если требуется подключить повторяющиеся блоки через массив JSON -->
	@@loop("./products-item.html", "../../data/product.json")

	<img src="img/172968-vodopad-nacionalnyj_park-nizhnyaya_telenka_krik_fols-voda-gidroresursy-3840x2160.jpg" alt="">

</main>